body {
  background-color: #222;
}

div#main {
  width: 600px;
  margin: 50px auto;
  background-color: #EEE;
  padding: 10%;
}

div#list {
  border: dashed 4px #AAF;
  background-color: #FFF;
  padding: 10px 20px;
}
